name: 01 - Tests Contract RS
on: push
jobs:
  test:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install cargo-near
        run: cargo install cargo-near

      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.86
          cache: false

      - name: Run tests
        working-directory: ./contract-rs/01-basic-auction
        run: cargo test --verbose
